DJANGO_SETTINGS_MODULE=Uuc_api.production
DJANGO_SUPERUSER=admin
DJANGO_SUPERUSER_PASS=admin
SECRET_KEY=host$1543*&danger
ALLOWED_HOSTS=*
MYSQL_USER=uurnik
MYSQL_USER_PASS=admin
MY_SQL_DATABASE=UURNIK
