bin
include
lib
share
.vscode
**__pycache__**
Uuc_api/nornir.log
Uuc_api/scrapli.log
Uuc_api/Uuc_api/__pycache__
Uuc_api/api/nornir_stuff/__pycache__
Uuc_api/api/net_tools/__pycache__
Uuc_api/db.sqlite3
.venv
test.py
test_ssh.py
scrapli.log
nornir.log
.env
ssh_key.pub
ssh_keys