config vpn ipsec phase1-interface
edit "HQ_CISCO_VTI"
set interface {{ host.data["wan_int"] }}
set peertype any
set net-device disable
set proposal des-sha1
set dhgrp 5
set remote-gw {{ host.nhs_nbma[0] }}
set psksecret uurnik123
next
end

config vpn ipsec phase2-interface
edit "TO_HQ_CISCO"
set phase1name "HQ_CISCO_VTI"
set proposal des-sha1
set dhgrp 5
next
end

config system interface
edit "HQ_CISCO_VTI"
set vdom "root"
set ip {{ tunnel_ip }} 255.255.255.255
set remote-ip {{ remote_tunnel_ip }} 255.255.255.252
set allowaccess ping https ssh
set type tunnel
set interface {{ host.data["wan_int"] }}
next 
end


{% set tunnel = 20 %}

config firewall policy
{% for advertised_interface in advertised_interfaces %}
{% set tunnel = tunnel + loop.index %}
edit {{ tunnel }}
set name "{{ advertised_interface }}_to_vti"
set srcintf "{{ advertised_interface }}"
set dstintf "HQ_CISCO_VTI"
set srcaddr "all"
set dstaddr "all"
set action accept
set schedule "always"
set service "ALL"
next
{% set tunnel = tunnel + loop.index + 1 %}
edit {{ tunnel }}
set name "vti_to_{{ advertised_interface }}"
set srcintf "HQ_CISCO_VTI"
set dstintf "{{ advertised_interface }}"
set srcaddr "all"
set dstaddr "all"
set action accept
set schedule "always"
set service "ALL"
next
{% endfor %}
end


config router bgp
set as 65415
set router-id {{ tunnel_ip }}
config neighbor
edit {{ remote_tunnel_ip }}
set remote-as 65414
next
end

{% set entry_index = 20 %}
config network
{% for route in host.data['routes'] %}
{% set entry_index = entry_index + loop.index %}
edit {{ entry_index }}
set prefix {{ route }}
next 
{% endfor %}
end
end





