
config vpn ipsec phase1-interface
edit "advpn-hub"
set type dynamic
set interface "{{ host.data['wan_int'] }}"
set peertype any
set net-device disable
set proposal des-md5 des-sha256 des-sha1 des-sha512
set add-route disable
set dpd on-idle
set auto-discovery-sender enable
set tunnel-search nexthop
set psksecret sample
set dpd-retryinterval 5
next
end

config vpn ipsec phase2-interface
edit "advpn-hub"
set phase1name "advpn-hub"
set proposal des-md5 des-sha256 des-sha1 des-sha512
next
end


config system interface
edit "advpn-hub"
set ip {{ host.data["tunnel_ip"] }} 255.255.255.255
set type tunnel
set remote-ip 172.27.255.254 255.255.0.0
set interface "{{ host.data['wan_int'] }}"
next
end


config router bgp
set as 65{{ host.tunnel_int }}
config neighbor-group
edit "advpn"
set link-down-failover enable
set remote-as 65414
set route-reflector-client enable
next
end
config neighbor-range
edit 1
set prefix 172.27.0.0 255.255.0.0
set neighbor-group "advpn"
next
end
config network
edit 1
set prefix {{ host.data['routes'][0] }}
next
end
end



config firewall policy
edit 1
set name "spoke2hub"
set srcintf "advpn-hub"
set dstintf "{{ advertised_interfaces[0] }}"
set srcaddr "all"
set dstaddr "all"
set action accept
set schedule "always"
set service "ALL"
next
edit 2
set name "spoke2spoke"
set srcintf "advpn-hub"
set dstintf "advpn-hub"
set srcaddr "all"
set dstaddr "all"
set action accept
set schedule "always"
set service "ALL"
next
end
