config system snmp community
edit 10
set name uurnik123
config hosts
edit 10
next
end
end

config system snmp sysinfo 
set status enable
set description 'fortigate-firewall'
set contact-info uurnik.com
set location global
end
